
.box2 h1{
    padding-top: 40px;
    font: 30px;
    color: #1c1c1c;
    text-align-last: center;
    background:white;
    text-decoration: underline;
}
.box2 h2{
    font-size: 12px;
    color: #1c1c1c;
    padding: 30px 30px 60px 30px;
    background:white;
}
@media only screen and (min-width: 700px) {
    .box2{
        background-color: white;
    }
    .box2b{
display: none;
    }
   }