.box3{
    min-height: 30vh;;
    display: block;
}
.box3 h1{
    padding-bottom: 20px;
    font: 40px;
    color: #1c1c1c;
    text-align-last: center;
    text-decoration: underline;
}
.box3a{
    background-color:white;
    display: flex;
}
.box3b{
    background:white;
    display: flex;
}
.box3c{
    background:white;
    display: flex;
}
.box3aicono{
    margin: auto;
    width: 20%;
    min-height: 12vh;
    background:url(../images/myicon1.png) center no-repeat;
}
.box3bicono{
    margin: auto;
    width: 20%;
    min-height: 12vh;
    background:url(../images/myicon2.png) center no-repeat;
}
.box3cicono{
    margin: auto;
    width: 20%;
    min-height: 12vh;
    background:url(../images/myicon3.png) center no-repeat;
}

.box3texto{
    width: 50%;
    font-size: 12px;
    color: #1c1c1c;
    padding: 30px;;
    position: relative;
}

