@media screen and (max-width: 700px) {
  .body{
    background-color: white;
  }
  .box1{
    height: 100vh;
  }
  .box1a{
    margin:auto;
  }
  .box1b{
    display: none;
    background: black;
  }
  .box2{
    background-color: white;
    padding-bottom: 50px;
  }
  .box2 h1{
    text-align: center;
  }
  .semiCircle {
    position: relative;
    background: black;
    height: 1vh;
  }
  .semiCircle2 {
    position: relative;
    background: black;
    height: 1vh;
  }
  
  .semiCircle::before {
    position: absolute;
    content: '';
    left: 50%;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: inherit;
    transform: translateX(-50%) translateY(20%);
    bottom: 0px;
  }
  .semiCircle2::before {
    position: absolute;
    content: '';
    left: 50%;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: inherit;
    transform: translateX(-50%) translateY(50%);
    bottom: 0px;
  }
  .box2b{
    margin: auto;
    max-width: 50vw;
    min-height: 30vh;
    background: url(../images/familia.jpeg) center white ;
    border: black 5px solid;
    border-radius: 5%;
  }
  .box3{
    padding: 30px;
    background-color: white;
  }
  .box3aicono{
    margin: 5%;
    width: 15vw;
    min-height: 10vh;
    background:url(../images/myicon1.png) center no-repeat;
    background-size: contain;
  }
    
  .box3bicono{
     margin: 5%;
     width: 15vw;
     min-height: 10vh;
     background:url(../images/myicon2.png) center no-repeat;
     background-size: contain;
   }
  .box3cicono{
     margin: 5%;
     width: 15vw;
     min-height: 10vh;
     background:url(../images/myicon3.png) center no-repeat;
     background-size: contain; 
    }
  .box3texto{
      width: 80vw;
      font-size: 12px;
      color: #1c1c1c;
     padding: 30px;
    }
  .box4texto{
      width: 100%;
      font-size: 12px;
      color: #1c1c1c;
      padding: 10px;
  }
  .box4texto h1 a{
    	background:black;
    border-radius:5px;
    border: #4e4c4c 2px;
	  cursor:pointer;
	  color:#ffffff;
	  font-size:13px;
	  padding:11px 11px;
    text-decoration:none;
    align-self: center;
    position: relative;
    margin-top: 12px;
    float: right;
  }
  .box4texto h1 a:hover {
    background:black;
      background-color:#3d3d41;
      box-shadow: inset;
  }
  .box4texto h1 a:active {
    position:relative;
    top:1px;
  }
  .box4{
    background-color: white;
    padding: 30px 0 30px 0;
  }
  .myButton{
    display: none;
  }
  .box4a{
    background-color:white;
    display: block;
    min-height: 30vh;
    margin:0 20% 0 15%;
    padding-bottom: 30px;
  }
  .box4b{
    background-color:white;
    display: block;
    min-height: 30vh;
    margin:0 20% 0 15%;
    padding-bottom: 30px;
}
  .box4c{
    background-color:white;
    display: block;
    min-height: 30vh;
    margin:0 20% 0 15%;
    padding-bottom: 30px;
}
  .box4d{
    background-color:white;
    display: block;
    min-height: 30vh;
    margin:0 20% 0 15%;
    padding-bottom: 30px;
}
  .box4aicono{
   margin: auto;
    width: 100%;
    min-height: 12vh;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}
  .box4bicono{
    margin: auto;
    width: 100%;
    min-height: 12vh;
    border:10px solid black;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;

}
  .box4cicono{
    margin: auto;
    width: 100%;
    min-height: 12vh;
    border:10px solid black;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
    
}
  .box4dicono{
    margin: auto;
    width: 100%;
    min-height: 12vh;
    border:10px solid black;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
    
}
.box5a h1{
  text-align: center;
}

}