@media only screen and (max-width: 700px) {
  .site-content {
    max-width: none;
    margin: unset;
  }
  .body{
    background-color: white;
  }
  .box1{
    height: 100vh;
  }
  .box1a{
    margin:auto;
  }
  .box1b{
    display: none;
    background: black;
  }
  .box2{
    background-color: white;
    padding-bottom: 50px;
  }
  .semiCircle {
    position: relative;
    background: black;
    height: 1vh;
  }
  .semiCircle2 {
    position: relative;
    background: black;
    height: 1vh;
  }
  
  .semiCircle::before {
    position: absolute;
    content: '';
    left: 50%;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: inherit;
    transform: translateX(-50%) translateY(20%);
    bottom: 0px;
  }
  .semiCircle2::before {
    position: absolute;
    content: '';
    left: 50%;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: inherit;
    transform: translateX(-50%) translateY(50%);
    bottom: 0px;
  }
  .box2b{
    margin: auto;
    max-width: 50%;
    min-height: 30vh;
    background: url(../images/familia.jpeg) center white ;
    border: black 5px solid;
    border-radius: 5%;

  }

  .box3aicono{
    margin: 5%;
    width: 15%;
    min-height: 10vh;
    background:url(../images/myicon1.png) center no-repeat;
    background-size: contain;
  }
    
  .box3bicono{
    margin: 5%;
     width: 15%;
     min-height: 10vh;
     background:url(../images/myicon2.png) center no-repeat;
     background-size: contain;
   }
   .box3cicono{
     margin: 5%;
     width: 15%;
     min-height: 10vh;
     background:url(../images/myicon3.png) center no-repeat;
     background-size: contain; 
    }
  .box3texto{
      width: 80%;
      font-size: 12px;
      color: #1c1c1c;
     padding: 30px;;
    }

}